<app-header></app-header>

<div class="card my-5">
    <div class="card-body" style="background-color: aliceblue;">
      <!-- <mat-form-field style="width: 50%;margin-left: 25%;margin-right: 25%;" >
        <mat-icon matSuffix>search</mat-icon>
         <mat-label style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: medium;">Search Auctions</mat-label>
         <input matInput  type="text"
       id="search" 
       name="search"
       (keyup)="searchAuction($event)" ></mat-form-field> -->

       <mat-button-toggle-group style="width: 20%;margin-left: 40%;margin-right: 40%;" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" (click)="getLiveAuctions()">Live</mat-button-toggle>
        <mat-button-toggle value="italic" (click)="getPendingAuctions()">Pending</mat-button-toggle>
        <mat-button-toggle style="width: 35%;" value="underline" (click)="getAllAuctions()">All</mat-button-toggle>
      </mat-button-toggle-group>
       
      <h1 *ngIf="noAuctions" style="text-align: center;color: royalblue;font-size: large;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">No Auctions<br><small style="font-size: small;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: brown;">No Auctions</small></h1>
      <mat-card  *ngFor="let auction of auctions" style="margin:2em;cursor: pointer;" routerLink="/auctionbidderdashboard/{{auction.auctionDetailId}}">
        <mat-card-header>
        <div style="background-image: url('./assets/TEA_BOARD_OF_INDIA_LOGO.png');" mat-card-avatar class="example-header-image"></div>
        <mat-card-title><a style="color: royalblue;font-size: large;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" routerLink="/auctionbidderdashboard/{{auction.auctionDetailId}}">{{ auction.auctionBrief }}</a></mat-card-title>
        <mat-card-subtitle>Auction Details</mat-card-subtitle>
        
      </mat-card-header>
        <mat-card-content>
          
                Auction Id : {{auction.auctionDetailId}}<br>
                Auction Brief : {{auction.auctionBrief}}<br>
                Start Date : {{auction.startDate}}<br>
                End Date : {{auction.endDate}}
        </mat-card-content>
        <mat-card-actions *ngIf="tabId == 1">
          <button style="margin-left: 1%;" mat-raised-button color="primary" (click)="biddingDashboard(auction.auctionDetailId)">Bid</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>